*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(180deg, #5e1d89, #710773, rgb(22, 123, 195));
    padding: 10px;
}

.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10%;
}

.todo-app h2{
    color: #218ac3;
    margin-bottom: 10px;
    align-items: center;
    display: flex;
    font-size: 22px;
    

}
.todo-app img{
    height: 30px;
    border: 1px solid rgb(56, 174, 218);
    border-radius: 50%;
    margin-left: 6px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30%;
    background: #edeef0;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 34px;
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    border-radius: 40px;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background: url(unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
    
}

ul li.checked::before{
    background: url(checked.png),no-repeat;
    background-position: center;
    background-size: cover;
    
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50px;
}

ul li span:hover{
    background: #bbc5dd;
}